.App {
  text-align: center;
}

html {
  background-color: #282c34;
  color: #fff;
}

.nav {
  padding: .5em;
  margin: .5em;
  background-color: rgb(254, 252, 214);
  border-radius: .5em
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}